apiVersion: v1
kind: Service
metadata:
  labels:
    service: mysql
    app: mysql
    version: v1
  name: mysql
spec:
  ports:
  - name: mysql
    port: 3306
    targetPort: 3306
  selector:
    service: mysql
