apiVersion: v1
kind: Service
metadata:
  labels:
    service: redis
    app: redis
    version: v1
  name: redis
spec:
  ports:
  - name: redis
    port: 6379
    targetPort: 6379
  selector:
    service: redis
